/java*.iml
/java.gradle
/java/local.properties
/java/.idea/caches
/java/.idea/libraries
/java/.idea/modules.xml
/java/.idea/workspace.xml
/java/.idea/navEditor.xml
/java/.idea/assetWizardSettings.xml
DS_Store
/java/build
/java/captures
.externalNativeBuild
.cxx
local.properties
Xamarin/development/.vs/
Xamarin/development/bin/
Xamarin/development/obj/
Xamarin/Gurux.Serial.Example/Gurux.Serial.Example/bin/
Xamarin/Gurux.Serial.Example/Gurux.Serial.Example/obj/
Xamarin/Gurux.Serial.Example/.vs/
