/java*.iml
/java.gradle
/java/local.properties
/java/.idea/caches
/java/.idea/libraries
/java/.idea/modules.xml
/java/.idea/workspace.xml
/java/.idea/navEditor.xml
/java/.idea/assetWizardSettings.xml
DS_Store
/java/build
/java/captures
.externalNativeBuild
.cxx
local.properties
